.logo {
    font-family: 'Bebas Neue', cursive;
}

nav {
    background: #6ca8e0;
}

.spacedown {
    margin: 50px;
}

.timeInput {
    margin-left: 20px;
    width: 100px;
    margin: 10px;
}

.daySlot {
    margin: 10px;
}

.hidden {
    visibility: hidden;
}