.ruleSect {
    border: solid 1px #495057;
    text-align: center;
}

.logo {
    font-family: "Bebas Neue", cursive;
}

.timeInput {
    margin-left: 20px;
    margin: 10px;
}

.daySlot {
    margin: 10px;
}

.hidden {
    visibility: hidden;
}