.ruleSect {
    border: solid 1px #495057;
    text-align: center;
    width: inherit;
}

.logo {
    font-family: "Bebas Neue", cursive;
}

.daySlot {
    margin: 10px;
}

.hidden {
    visibility: hidden;
}

@media only screen and (max-width: 479px) {
    .stretched {
        width: 100%;
    }
}

.addrule-form {
    padding-bottom: 5%;
}

.mainTitle {
    margin: 200rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 200rem;
}