    .ruleSect {
        border: solid 2px black;
        text-align: center;
    }
    
    .logo {
        font-family: "Bebas Neue", cursive;
    }
    
    .timeInput {
        margin-left: 20px;
        margin: 10px;
    }
    
    .daySlot {
        margin: 10px;
    }
    
    .hidden {
        visibility: hidden;
    }