<form>


    <!-- Set Parking restriction times per Day -->
    <div class="form-check container-fluid daySlot">
        <div class="">

            <input type="checkbox" name="monday" class="form-check-input col" id="monCheck">
            <label class="form-check-label col-3" for="exampleCheck1">Monday</label>

            <div class="col">
                start<input class="timeInput" id="mondayStart" type="time" ng-model="test" mdp-time-picker/><br> end
                <input class="timeInput" id="mondayEnd" type="time" ng-model="test" mdp-time-picker/>
            </div>

        </div>
    </div>

    <div class="form-check container-fluid daySlot">
        <div class="">

            <input type="checkbox" class="form-check-input col" id="exampleCheck1">
            <label class="form-check-label col-3" for="exampleCheck1">Tuesday</label>
            <div class="col">
                start<input class="timeInput" id="tuesdayStart" type="time" ng-model="test" mdp-time-picker/><br> end
                <input class="timeInput" id="tuesdayEnd" type="time" ng-model="test" mdp-time-picker/>
            </div>

        </div>
    </div>

    <div class="form-check container-fluid daySlot">
        <div class="">

            <input type="checkbox" class="form-check-input col" id="exampleCheck1">
            <label class="form-check-label col-3" for="exampleCheck1">Wednesday</label>
            <div class="col">
                start<input class="timeInput" id="wednesdayStart" type="time" ng-model="test" mdp-time-picker/><br> end
                <input class="timeInput" id="wednesdayEnd" type="time" ng-model="test" mdp-time-picker/>
            </div>

        </div>
    </div>

    <div class="form-check container-fluid daySlot">
        <div class="">

            <input type="checkbox" class="form-check-input col" id="exampleCheck1">
            <label class="form-check-label col-3" for="exampleCheck1">Thursday</label>
            <div class="col">
                start<input class="timeInput" type="time" ng-model="test" mdp-time-picker/><br> end
                <input class="timeInput" type="time" ng-model="test" mdp-time-picker/>
            </div>

        </div>
    </div>

    <div class="form-check container-fluid daySlot">
        <div class="">

            <input type="checkbox" class="form-check-input col" id="exampleCheck1">
            <label class="form-check-label col-3" for="exampleCheck1">Friday</label>
            <div class="col">
                start<input class="timeInput" type="time" ng-model="test" mdp-time-picker/><br> end
                <input class="timeInput" type="time" ng-model="test" mdp-time-picker/>
            </div>

        </div>
    </div>
    <div class="form-check container-fluid daySlot">
        <div class="">

            <input type="checkbox" class="form-check-input col" id="exampleCheck1">
            <label class="form-check-label col-3" for="exampleCheck1">Saturday</label>
            <div class="col">
                start<input class="timeInput" type="time" ng-model="test" mdp-time-picker/><br> end
                <input class="timeInput" type="time" ng-model="test" mdp-time-picker/>
            </div>

        </div>
    </div>
    <div class="form-check container-fluid daySlot">
        <div class="">

            <input type="checkbox" class="form-check-input col" id="exampleCheck1">
            <label class="form-check-label col-3" for="exampleCheck1">Sunday</label>
            <div class="col">
                start<input class="timeInput" type="time" ng-model="test" mdp-time-picker/><br> end
                <input class="timeInput" type="time" ng-model="test" mdp-time-picker/>
            </div>

        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<div id="tab02" class="tab-contents">
    <h2>Odd</h2>
    <form>


        <!-- Set Parking restriction times per Day -->
        <div class="form-check container-fluid daySlot">
            <div class="">

                <input type="checkbox" name="monday" class="form-check-input col" id="monCheck">
                <label class="form-check-label col-3" for="exampleCheck1">Monday</label>

                <div class="col">
                    start<input class="timeInput" id="mondayStart" type="time" ng-model="test" mdp-time-picker/><br> end
                    <input class="timeInput" id="mondayEnd" type="time" ng-model="test" mdp-time-picker/>
                </div>

            </div>
        </div>

        <div class="form-check container-fluid daySlot">
            <div class="">

                <input type="checkbox" class="form-check-input col" id="exampleCheck1">
                <label class="form-check-label col-3" for="exampleCheck1">Tuesday</label>
                <div class="col">
                    start<input class="timeInput" id="tuesdayStart" type="time" ng-model="test" mdp-time-picker/><br> end
                    <input class="timeInput" id="tuesdayEnd" type="time" ng-model="test" mdp-time-picker/>
                </div>

            </div>
        </div>

        <div class="form-check container-fluid daySlot">
            <div class="">

                <input type="checkbox" class="form-check-input col" id="exampleCheck1">
                <label class="form-check-label col-3" for="exampleCheck1">Wednesday</label>
                <div class="col">
                    start<input class="timeInput" id="wednesdayStart" type="time" ng-model="test" mdp-time-picker/><br> end
                    <input class="timeInput" id="wednesdayEnd" type="time" ng-model="test" mdp-time-picker/>
                </div>

            </div>
        </div>

        <div class="form-check container-fluid daySlot">
            <div class="">

                <input type="checkbox" class="form-check-input col" id="exampleCheck1">
                <label class="form-check-label col-3" for="exampleCheck1">Thursday</label>
                <div class="col">
                    start<input class="timeInput" type="time" ng-model="test" mdp-time-picker/><br> end
                    <input class="timeInput" type="time" ng-model="test" mdp-time-picker/>
                </div>

            </div>
        </div>

        <div class="form-check container-fluid daySlot">
            <div class="">

                <input type="checkbox" class="form-check-input col" id="exampleCheck1">
                <label class="form-check-label col-3" for="exampleCheck1">Friday</label>
                <div class="col">
                    start<input class="timeInput" type="time" ng-model="test" mdp-time-picker/><br> end
                    <input class="timeInput" type="time" ng-model="test" mdp-time-picker/>
                </div>

            </div>
        </div>
        <div class="form-check container-fluid daySlot">
            <div class="">

                <input type="checkbox" class="form-check-input col" id="exampleCheck1">
                <label class="form-check-label col-3" for="exampleCheck1">Saturday</label>
                <div class="col">
                    start<input class="timeInput" type="time" ng-model="test" mdp-time-picker/><br> end
                    <input class="timeInput" type="time" ng-model="test" mdp-time-picker/>
                </div>

            </div>
        </div>
        <div class="form-check container-fluid daySlot">
            <div class="">

                <input type="checkbox" class="form-check-input col" id="exampleCheck1">
                <label class="form-check-label col-3" for="exampleCheck1">Sunday</label>
                <div class="col">
                    start<input class="timeInput" type="time" ng-model="test" mdp-time-picker/><br> end
                    <input class="timeInput" type="time" ng-model="test" mdp-time-picker/>
                </div>

            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>