{% extends "master.html.twig" %}

{% block stylesheet %}<link rel="stylesheet" href="/css/style.css" />{% endblock stylesheet%}

{% block title %}
    Contact Parkbud
{% endblock title %}

{% block content %}
    <div class="py-5 container">
        <div class="row">
            <img src="/images/aboutus.jpg" alt="image" width="450rem" class="col-md-6"/>
            <div class="col-md-6">
                <div class="contact-info">
                    <h3>Parkbud</h3>
                    <p></p>
                    <p>Parkbud.ca is a parking rule sharing website that can be used to view the 
                    parking rules and signage from any location.  It will feature a member page 
                    which will allow you to log in and submit the rules and times for public parking.  
                    You can enter the information manually, and submit a photo for verification.  
                    Anyone can view the rules, you will be greeted by a map and address bar on the 
                    front page where you can search up any location using the Google maps API.</p>

                </div>
            </div>
            
        </div>
    </div>

{% endblock content %}