{% extends "master.html.twig" %}
{% block content %}
	<div class="container">

		<div class="container-fluid">
			<h3 class="logo ">Add Rule</h1>
			<div class="row">


				<div
					class="col-6 map ">

					<!--   MAP LEFT COLUMN -->


					<input id="pac-input" class="controls" type="text" placeholder="Search Box"/>
					<div id="mainMapContainer">
						<div id="map" style="height:400px;width:400px;"></div>
					</div>


					<script src="./index.js"></script>

					<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
					<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
					<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaIDYagxIULOH3ghDCLMJvuGLGQ9hXJh8&callback=initAutocomplete&libraries=places&v=weekly&callback=initAutocomplete" async></script>
				</div>


				<div
					class="col-6 ">
					<!--   FORM Center COLUMN -->

					<div>


						<!-- Display Street Name from Map Search -->
						<div class="form-group row text-center">
							<label for="exampleInputEmail1">Street Name</label>
							<input type="email" class="form-control" id="streetname" aria-describedby="streetname" placeholder="street name">

						</div>
						<!-- Select Time Period For Applicable parking rules -->
						<div class="form-group row text-center">
							<label for="PeriodStart">Period start</label>
							<input type="date" class="form-control" id="dateStart">

						</div>
						<div class="form-group row text-center">
							<label for="periodEnd">Period End</label>
							<input type="date" class="form-control" id="dateEnd">

						</div>
						<br>
						<div>
							<label for="parkingMeter">Does This Space have a parking meter?</label>
							<div>
								<input type="radio" id="noPm" name="drone" value="pmtrue">
								<label for="yes">Yes</label>
							</div>

							<div>
								<input type="radio" id="yesPm" name="drone" value="pmfalse">
								<label for="no">No</label>
							</div>
						</div>

						<br><br>

						<!-- TABS -->
						<div class="ruleSect">
							<nav class="tabBar">
								<div class="nav nav-tabs" id="nav-tab" role="tablist">
									<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#a" role="tab" aria-controls="nav-home" aria-selected="true">Even</a>
									<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#b" role="tab" aria-controls="nav-profile" aria-selected="false">Odd</a>

								</div>
							</nav>

							<div class="tab-content">

								<div class="tab-pane active" id="a">
									<br><br>
									<p>Please Upload picture of the Even Side Parking Sign</p>

									<form action="/action_page.php">
										<input class="btn btn-primary" type="file" id="myFile" name="filename">

									</form>
									<br><br>

									<nav class="tabBar">

										<div class="nav nav-tabs" id="nav-tab" role="tablist">

											<a class="nav-item nav-link active" data-toggle="tab" href="#mon" role="tab" aria-selected="true">Mon</a>
											<a class="nav-item nav-link" data-toggle="tab" href="#tue" role="tab" aria-selected="false">Tue</a>
											<a class="nav-item nav-link" data-toggle="tab" href="#wed" role="tab" aria-selected="false">Wed</a>
											<a class="nav-item nav-link" data-toggle="tab" href="#thu" role="tab" aria-selected="false">Thu</a>
											<a class="nav-item nav-link" data-toggle="tab" href="#fri" role="tab" aria-selected="false">Fri</a>
											<a class="nav-item nav-link" data-toggle="tab" href="#sat" role="tab" aria-selected="false">Sat</a>
											<a class="nav-item nav-link" data-toggle="tab" href="#sun" role="tab" aria-selected="false">Sun</a>


										</div>
									</nav>


									<div class="tab-content">

										<div class="tab-pane active" id="mon">
											<form>


												<!-- Set No Parking restriction times per Day -->
												<h3>Even Side Monday</h3>
												<div class="form-check container-fluid daySlot">
													<div class="">


														<div class="col">
															start<input class="timeInput" id="mondayStart" type="time" ng-model="test" mdp-time-picker/><br>
															end
															<input class="timeInput" id="mondayEnd" type="time" ng-model="test" mdp-time-picker/>
														</div>

													</div>
												</div>


												<button type="submit" class="btn btn-primary">Submit</button>
											</form>
										</div>

										<div class="tab-pane" id="tue">
											<form>


												<!-- Set No Parking restriction times per Day -->
												<h3>Even Side Tueday</h3>
												<div class="form-check container-fluid daySlot">
													<div class="">


														<div class="col">
															start<input class="timeInput" id="mondayStart" type="time" ng-model="test" mdp-time-picker/><br>
															end
															<input class="timeInput" id="mondayEnd" type="time" ng-model="test" mdp-time-picker/>
														</div>

													</div>
												</div>


												<button type="submit" class="btn btn-primary">Submit</button>
											</form>
										</div>
										<div class="tab-pane" id="wed">
											<form>


												<!-- Set No Parking restriction times per Day -->
												<h3>Even Side Wednesday</h3>
												<div class="form-check container-fluid daySlot">
													<div class="">


														<div class="col">
															start<input class="timeInput" id="mondayStart" type="time" ng-model="test" mdp-time-picker/><br>
															end
															<input class="timeInput" id="mondayEnd" type="time" ng-model="test" mdp-time-picker/>
														</div>

													</div>
												</div>


												<button type="submit" class="btn btn-primary">Submit</button>
											</form>
										</div>
										<div class="tab-pane" id="thu">
											<form>


												<!-- Set No Parking restriction times per Day -->
												<h3>Even Side Thursday</h3>
												<div class="form-check container-fluid daySlot">
													<div class="">


														<div class="col">
															start<input class="timeInput" id="mondayStart" type="time" ng-model="test" mdp-time-picker/><br>
															end
															<input class="timeInput" id="mondayEnd" type="time" ng-model="test" mdp-time-picker/>
														</div>

													</div>
												</div>


												<button type="submit" class="btn btn-primary">Submit</button>
											</form>
										</div>
										<div class="tab-pane" id="fri">
											<form>


												<!-- Set No Parking restriction times per Day -->
												<h3>Even Side Friday</h3>
												<div class="form-check container-fluid daySlot">
													<div class="">


														<div class="col">
															start<input class="timeInput" id="mondayStart" type="time" ng-model="test" mdp-time-picker/><br>
															end
															<input class="timeInput" id="mondayEnd" type="time" ng-model="test" mdp-time-picker/>
														</div>

													</div>
												</div>


												<button type="submit" class="btn btn-primary">Submit</button>
											</form>
										</div>
										<div class="tab-pane" id="sat">
											<form>


												<!-- Set No Parking restriction times per Day -->
												<h3>Even Side Saturday</h3>
												<div class="form-check container-fluid daySlot">
													<div class="">


														<div class="col">
															start<input class="timeInput" id="mondayStart" type="time" ng-model="test" mdp-time-picker/><br>
															end
															<input class="timeInput" id="mondayEnd" type="time" ng-model="test" mdp-time-picker/>
														</div>

													</div>
												</div>


												<button type="submit" class="btn btn-primary">Submit</button>
											</form>
										</div>
										<div class="tab-pane" id="sun">
											<form>


												<!-- Set No Parking restriction times per Day -->
												<h3>Even Side Sunday</h3>
												<div class="form-check container-fluid daySlot">
													<div class="">


														<div class="col">
															start<input class="timeInput" id="mondayStart" type="time" ng-model="test" mdp-time-picker/><br>
															end
															<input class="timeInput" id="mondayEnd" type="time" ng-model="test" mdp-time-picker/>
														</div>

													</div>
												</div>


												<button type="submit" class="btn btn-primary">Submit</button>
											</form>
										</div>


									</div>


								</div>


								<div class="tab-pane" id="b">
									<br><br>
									<p>Please Upload picture of the Odd Side Parking Sign</p>

									<form action="/action_page.php">
										<input class="btn btn-primary" type="file" id="myFile" name="filename">

									</form>
									

									<nav class="tabBar">

										<div class="nav nav-tabs" id="nav-tab" role="tablist">

											<a class="nav-item nav-link active" data-toggle="tab" href="#omon" role="tab" aria-selected="true">Mon</a>
											<a class="nav-item nav-link" data-toggle="tab" href="#otue" role="tab" aria-selected="false">Tue</a>
											<a class="nav-item nav-link" data-toggle="tab" href="#owed" role="tab" aria-selected="false">Wed</a>
											<a class="nav-item nav-link" data-toggle="tab" href="#othu" role="tab" aria-selected="false">Thu</a>
											<a class="nav-item nav-link" data-toggle="tab" href="#ofri" role="tab" aria-selected="false">Fri</a>
											<a class="nav-item nav-link" data-toggle="tab" href="#osat" role="tab" aria-selected="false">Sat</a>
											<a class="nav-item nav-link" data-toggle="tab" href="#osun" role="tab" aria-selected="false">Sun</a>


										</div>
									</nav>


									<div class="tab-content">

										<div class="tab-pane active" id="omon">
											<form>


												<!-- Set No Parking restriction times per Day -->
												<h3>Odd Side Monday</h3>
												<div class="form-check container-fluid daySlot">
													<div class="">


														<div class="col">
															start<input class="timeInput" id="mondayStart" type="time" ng-model="test" mdp-time-picker/><br>
															end
															<input class="timeInput" id="mondayEnd" type="time" ng-model="test" mdp-time-picker/>
														</div>

													</div>
												</div>


												<button type="submit" class="btn btn-primary">Submit</button>
											</form>
										</div>

										<div class="tab-pane" id="otue">
											<form>


												<!-- Set No Parking restriction times per Day -->
												<h3>Odd Side Tueday</h3>
												<div class="form-check container-fluid daySlot">
													<div class="">


														<div class="col">
															start<input class="timeInput" id="mondayStart" type="time" ng-model="test" mdp-time-picker/><br>
															end
															<input class="timeInput" id="mondayEnd" type="time" ng-model="test" mdp-time-picker/>
														</div>

													</div>
												</div>


												<button type="submit" class="btn btn-primary">Submit</button>
											</form>
										</div>
										<div class="tab-pane" id="owed">
											<form>


												<!-- Set No Parking restriction times per Day -->
												<h3>Odd Side Wednesday</h3>
												<div class="form-check container-fluid daySlot">
													<div class="">


														<div class="col">
															start<input class="timeInput" id="mondayStart" type="time" ng-model="test" mdp-time-picker/><br>
															end
															<input class="timeInput" id="mondayEnd" type="time" ng-model="test" mdp-time-picker/>
														</div>

													</div>
												</div>


												<button type="submit" class="btn btn-primary">Submit</button>
											</form>
										</div>
										<div class="tab-pane" id="othu">
											<form>


												<!-- Set No Parking restriction times per Day -->
												<h3>Odd Side Thursday</h3>
												<div class="form-check container-fluid daySlot">
													<div class="">


														<div class="col">
															start<input class="timeInput" id="mondayStart" type="time" ng-model="test" mdp-time-picker/><br>
															end
															<input class="timeInput" id="mondayEnd" type="time" ng-model="test" mdp-time-picker/>
														</div>

													</div>
												</div>


												<button type="submit" class="btn btn-primary">Submit</button>
											</form>
										</div>
										<div class="tab-pane" id="ofri">
											<form>


												<!-- Set No Parking restriction times per Day -->
												<h3>Odd Side Friday</h3>
												<div class="form-check container-fluid daySlot">
													<div class="">


														<div class="col">
															start<input class="timeInput" id="mondayStart" type="time" ng-model="test" mdp-time-picker/><br>
															end
															<input class="timeInput" id="mondayEnd" type="time" ng-model="test" mdp-time-picker/>
														</div>

													</div>
												</div>


												<button type="submit" class="btn btn-primary">Submit</button>
											</form>
										</div>
										<div class="tab-pane" id="osat">
											<form>


												<!-- Set No Parking restriction times per Day -->
												<h3>Odd Side Saturday</h3>
												<div class="form-check container-fluid daySlot">
													<div class="">


														<div class="col">
															start<input class="timeInput" id="mondayStart" type="time" ng-model="test" mdp-time-picker/><br>
															end
															<input class="timeInput" id="mondayEnd" type="time" ng-model="test" mdp-time-picker/>
														</div>

													</div>
												</div>


												<button type="submit" class="btn btn-primary">Submit</button>
											</form>
										</div>
										<div class="tab-pane" id="osun">
											<form>


												<!-- Set No Parking restriction times per Day -->
												<h3>Odd Side Sunday</h3>
												<div class="form-check container-fluid daySlot">
													<div class="">


														<div class="col">
															start<input class="timeInput" id="mondayStart" type="time" ng-model="test" mdp-time-picker/><br>
															end
															<input class="timeInput" id="mondayEnd" type="time" ng-model="test" mdp-time-picker/>
														</div>

													</div>
												</div>


												<button type="submit" class="btn btn-primary">Submit</button>
											</form>
										</div>


									</div>


								</div>

							</div>

						</div>
					</div>


				</div>
			</div>


		</div>

	</div>


{% endblock %}
