{% extends "master.html.twig" %}

{% block title %}Rule added successfully{% endblock %}

{% block content %}
    <p>Rule added successfully</p>
    <p><a href="/addrule">Click here to add more rules</a></p>
{% endblock %}