{% extends "master.html.twig" %}

{% block stylesheet %}<link rel="stylesheet" href="/css/style.css" />{% endblock stylesheet%}

{% block title %}
    Contact Parkbud
{% endblock title %}

{% block content %}
    <div class="py-5 container">
        <div class="row">
            <img src="/images/contact.jpg" alt="image" width="450rem" class="col-md-6"/>
            <div class="col-md-6">
                <div class="contact-info">
                    
                    <h3>Contact Us</h3>
                    <p></p>
                    <p>Email: info@parkbud.ca</p>
                    <p>Phone: +1-514-333-9955</p>
                    <p>Address:<br> 21 275 Rue Lakeshore Road, <br>Sainte-Anne-de-Bellevue, QC H9X 3L9</p>
                </div>
            </div>
            
        </div>
    </div>

{% endblock content %}