{% extends "master.html.twig" %}

{% block title %}Access denied{% endblock %}

{% block content %}
    <h3>Access denied</h3>
    <p>Access denied. You must be logged in to access this page and add new parking rule.
        <a href="/login">Click to login</a>.</p>
{% endblock %}