{% extends "master.html.twig" %}

{% block title %}Internal error{% endblock %}

{% block content %}

    <div class="d-flex flex-column col-md-6 mb-3">
        <h2>Internal error occured.</h2> 
        <p>Our team has been notified.</p>
        <p><a href="/">Click here</a> to continue.</p>
        <img src="/images/technical-support.jpg" width="400">
    </div>
{% endblock %}