{% extends "master.html.twig" %}

{% block title %} {{title}} {% endblock title %}

{% block content %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <style type="text/css">
    #map {
        height: 100%;
      }

    /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

    
    <h3 id="mainParkHeader">Where would you like to park today?</h3>

    <input
      id="pac-input"
      class="controls"
      type="text"
      placeholder="Search Box"
    />
    
    <div id="mainMapContainer">
      <div id="map" style="height:600px;width:800px;"></div>
    </div>
    <p id="demo"></p>

<script>
  let map;

function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 45.4064663, lng: -73.9435058 },
        zoom: 3,
    });
    const iconBase =
          "https://developers.google.com/maps/documentation/javascript/examples/full/images/";
        const icons = {
          parking: {
            icon: iconBase + "parking_lot_maps.png",
          },
          library: {
            icon: iconBase + "library_maps.png",
          },
          info: {
            icon: iconBase + "info-i_maps.png",
          },
        };
  
      var marker;
      var markerLatLng;
      const features = [];

      {% for rule in rulesList %}

      features.push(         
                {
                  position: new google.maps.LatLng(
                    {{rule.latitude}},
                    {{rule.longitude}}
                  ),
                  type: "parking",
      });
    
      // Create markers.
      for (let i = 0; i < features.length; i++) {
            const marker = new google.maps.Marker({
              position: features[i].position,
              icon: icons[features[i].type].icon,
              
              map: map,
            });
          }

    {% endfor %}
  
  }
  

</script>

<body>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    

      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvddKOYiUzFEIbPfIGejw2BUBX2SXMIqk&callback=initMap"
    type="text/javascript"></script>

  </body>


{% endblock %}


 