{% extends "master.html.twig" %}

{% block title %} {{title}} {% endblock title %}

{% block content %}
    <h3 id="mainParkHeader">Where would you like to park today?</h3>

    <input
      id="pac-input"
      class="controls"
      type="text"
      placeholder="Search Box"
    />
    
    <div id="mainMapContainer">
      <div id="map" style="height:600px;width:800px;"></div>
    </div>
    <p id="demo"></p>

    <script src="/index.js"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaIDYagxIULOH3ghDCLMJvuGLGQ9hXJh8&callback=initAutocomplete&libraries=places&v=weekly&callback=initAutocomplete"
      async
    ></script>  

<script>
  console.log("test");
//   var myLatlng = new google.maps.LatLng(-25.363882,131.044922);
// var mapOptions = {
//   zoom: 4,
//   center: myLatlng
// }
// var map = new google.maps.Map(document.getElementById("map"), mapOptions);

var marker;
var markerLatLng;

{% for rule in list %}
	markerLatLng = new google.maps.LatLng({{rule.latitude}},{{rule.longitude}});
	marker = new google.maps.Marker({
		position: markerLatLng,
		title:"{{rule.streetName}}"    
	});
  
	// To add the marker to the map, call setMap();
	marker.setMap(map);
{% endfor %}
</script>


{% endblock %}