{% extends "master.html.twig" %}

{% block title %} {{title}} {% endblock title %}

{% block content %}
<p>{{ longitude[0].toString }}</p>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      let map;

      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: new google.maps.LatLng(45.51965562189823,-73.59391502360042), // 45.51965562189823, -73.59391502360042
          zoom: 3,
        });
        const iconBase =
          "https://developers.google.com/maps/documentation/javascript/examples/full/images/";
        const icons = {
          parking: {
            icon: iconBase + "parking_lot_maps.png",
          },
          library: {
            icon: iconBase + "library_maps.png",
          },
          info: {
            icon: iconBase + "info-i_maps.png",
          },
        };
        const features = [
          
          {
            position: new google.maps.LatLng(
              41.8773534197085,
              -88.0737334802915
            ),
            type: "parking",
          },
          {
            position: new google.maps.LatLng(
              49.8543063197085,
              -97.1093722302915
            ),
            type: "parking",
          },
          {
            position: new google.maps.LatLng(
              50.83002051970851,
              4.438628019708498
            ),
            type: "parking",
          },
          {
            position: new google.maps.LatLng(
              59.3487343697085,
              18.02872636970849
            ),
            type: "parking",
          },
          {
            position: new google.maps.LatLng(
              -33.91608037421864,
              151.23288232673644
            ),
            type: "parking",
          },
          
        ];
        

        // Create markers.
        for (let i = 0; i < features.length; i++) {
          const marker = new google.maps.Marker({
            position: features[i].position,
            icon: icons[features[i].type].icon,
            map: map,
          });
        }
      }
    </script>
  </head>
  <body>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    

      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvddKOYiUzFEIbPfIGejw2BUBX2SXMIqk&callback=initMap"
    type="text/javascript"></script>




  </body>

{% endblock %}


