<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" />
    <title>{% block title %}Default{% endblock %}</title>
</head>
<body>
    <div id="centeredContent">
        {% block content %}{% endblock %}
        <div id="footer">&copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.</div>
    </div>
</body>
</html>