<!DOCTYPE html>
<html>
	<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
			<script src="https://kit.fontawesome.com/46f3607012.js" crossorigin="anonymous"></script>
			<link rel="stylesheet" href="/css/index.css">
			<link rel="stylesheet" href="/css/style.css">

			{% block stylesheet %}
			{% endblock stylesheet %}
			<title>
			{% block title %}Parkbud
			{% endblock title %}
		</title>
		{% block head %}
		{% endblock head %}		
	</head>
	<body>

		{% block nav %}
			<nav
				class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
				<!-- <img src="/parkbudproject/parkbud/images/logo.png" height="30rem" alt="logo"> -->
				<a class="navbar-brand" href="/">Parkbud</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/">
								<i class="fa fa-home"></i>
								Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/aboutus">
								<i class="fa fa-university" aria-hidden="true"></i>
								<span class="badge badge-danger"></span>
								About us
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/addrule">
								<i class="fas fa-map-marker-alt">
									<span class="badge badge-danger"></span>
								</i>
								Add parking rule
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/contact">
								<i class="fas fa-phone">
									<span class="badge badge-danger"></span>
								</i>
								Contact
							</a>
						</li>
						{% if userSession.role == 'admin' %}
							<li class="nav-item">
								<a class="nav-link" href="/admin/users/list">
									<i class="fa fa-id-card" aria-hidden="true"></i>
									<span class="badge badge-danger"></span>
								</i>Manage users</li>
						</a>
					</li>


					<li class="nav-item">
						<a class="nav-link" href="/admin/rules/list">
							<i class="fas fa-map-marker-alt">
								<span class="badge badge-danger"></span>
							</i>
							Manage parking rules
						</a>
					</li>
				{% endif %}

				{% if userSession.role == 'user' %}
					<li class="nav-item">
						<a class="nav-link" href="/user/rules/list">
							<i class="fas fa-map-marker-alt">
								<span class="badge badge-danger"></span>
							</i>
							Manage parking rules
						</a>
					</li>
				{% endif %}

			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-primary my-2 my-sm-0 mr-3" type="submit">Search</button>
			</form>
			<ul
				class="navbar-nav ">
				
				<div class="d-flex ">
					{% if userSession %}
						<li class="nav-item">
							<a class="nav-link" href="/account">
								<i class="fa fa-user-circle" aria-hidden="true"></i>
								Update profile
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/logout">
								<i class="fa fa-sign-out" aria-hidden="true"></i>
								<i class="fas fa-sign-in-alt"></i>
								Sign Out
							</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="/register">
								<i class="fa fa-user" aria-hidden="true"></i>
								Register
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/login">
								<i class="fa fa-sign-in" aria-hidden="true"></i>
								<i class="fas fa-sign-in-alt"></i>
								Login
							</a>
						</li>
					{% endif %}
				</div>
			</nav>
		{% endblock nav %}
		<div>{% if userSession %}<p class="py-2 px-4 text-primary float-sm-right">You are logged in as <b>{{ userSession.userName }}</b></p>{% endif %}{% if flashMessage %}
		<div id="flashMessage" class="alert alert-info">{{flashMessage}}</div>{% endif %}</div> 
		{% block content %}{% endblock content %}
		<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  
  <section class="">
  <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-parking"></i>Parkbud.ca
          </h6>
          <p>
            Parkbud is a crowd sourced parking rule database. Please share with friends and contribute!
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Built With
          </h6>
          <p>
            <a href="#!" class="text-reset">Bootstrap</a>
          </p>
          <p>
            <a href="#!" class="text-reset">JQuery</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Twig</a>
          </p>
          <p>
            <a href="#!" class="text-reset">PHP</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="https://www.algoseedlabs.com" class="text-reset">Inquiries</a>
          </p>
          <p>
            <a href="#!" class="text-reset">News</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Investors</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Careers</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fab fa-canadian-maple-leaf"></i>CANADA</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@parkbud.ca
          </p>
          
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" >Parkbud.ca</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
		{% block scripts %}{% endblock scripts %}
	</body>
</html>
