{% extends "master.html.twig" %}

{% block title %}
    Not found - 404
{% endblock title %}

{% block content %}
    <div class="d-flex flex-column container">
        <h1>Not found - 404</h1>
        <p>Page not found!
            <a href="/">Click here</a> to continue
        </p>
        <img src="/images/error-404.png" width="500">
    </div>
{% endblock content %}