{% extends "master.html.twig" %}

{% block title %}Registration successful{% endblock %}

{% block content %}
    <p>Registration successful</p>
    <p><a href="/login">Click here to login</a></p>
{% endblock %}