{% extends "master.html.twig" %}

{% block title %}Profile updated successfully{% endblock %}

{% block content %}
    <p>Profile Updated successfully</p>
    <p><a href="/">Click here to continue</a></p>
{% endblock %}